body {
    text-align: center;
    color: rgb(46, 112, 178);
    background-color: bisque;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}